<nav class="mat-pagination">
    <button mat-icon-button (click)="prev()" [disabled]="page === 1">
      <mat-icon>chevron_left</mat-icon>
    </button>
  
    <ng-container *ngFor="let p of pageList">
      <button
        *ngIf="p !== '...'"
        mat-button
        (click)="goTo(p)"
        [class.active]="p === page">
        {{ p }}
      </button>
      <span *ngIf="p === '...'" class="ellipsis">…</span>
    </ng-container>
  
    <button mat-icon-button (click)="next()" [disabled]="page === pagesCount">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </nav>
  